## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [3]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("Vacation_Search/WeatherPy_vacation.csv")
vacation_df.head(10)

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Kapaa,US,72.00,light rain,22.0752,-159.3190,Sheraton Kauai Resort at Coconut Beach
1,2,Rikitea,PF,80.40,scattered clouds,-23.1203,-134.9692,Pension Maro'i
2,4,Karratha,AU,81.28,scattered clouds,-20.7377,116.8463,ibis Styles Karratha
3,9,Richards Bay,ZA,74.89,clear sky,-28.7830,32.0377,BON Hotel Waterfront Richards Bay
4,11,Cidreira,BR,74.16,clear sky,-30.1811,-50.2056,Hotel Castelo
5,12,Bathsheba,BB,78.80,few clouds,13.2167,-59.5167,Atlantis Hotel
6,13,Bhawanipatna,IN,71.29,clear sky,19.9000,83.1667,Bhagirathi inn
7,14,Yeppoon,AU,78.80,scattered clouds,-23.1333,150.7333,Villa Mar Colina
8,15,Hithadhoo,MV,83.95,few clouds,-0.6000,73.0833,Scoop Guest House
9,16,Avarua,CK,84.20,broken clouds,-21.2078,-159.7750,Paradise Inn

In [4]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [5]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[(vacation_df["City"] == "Caloundra")]
vacation_end = vacation_df.loc[(vacation_df["City"] == "Caloundra")]
vacation_stop1 = vacation_df.loc[(vacation_df["City"] == "Inverell")]
vacation_stop2 = vacation_df.loc[(vacation_df["City"] == "Sawtell")] 
vacation_stop3 = vacation_df.loc[(vacation_df["City"] == "Ballina")]

In [7]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_end["Lat"].to_numpy()[0], vacation_end["Lng"].to_numpy()[0]
stop1 = vacation_stop1["Lat"].to_numpy()[0], vacation_stop1["Lng"].to_numpy()[0]
stop2 = vacation_stop2["Lat"].to_numpy()[0], vacation_stop2["Lng"].to_numpy()[0]
stop3 = vacation_stop3["Lat"].to_numpy()[0], vacation_stop3["Lng"].to_numpy()[0]

In [8]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
travel_route = gmaps.directions_layer(start, end, waypoints = [stop1, stop2, stop3], travel_mode = "DRIVING")

fig.add_layer(travel_route)
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start, vacation_stop1, vacation_stop2, vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,431,Caloundra,AU,75.0,clear sky,-26.8000,153.1333,Watermark Resort Caloundra
1,523,Inverell,AU,70.0,light rain,-29.7833,151.1167,Sapphire City Motor Inn
2,163,Sawtell,AU,79.0,clear sky,-30.3833,153.1000,Island Beach House Sawtell
3,500,Ballina,AU,77.0,clear sky,-28.8667,153.5667,Ramada Hotel & Suites by Wyndham Ballina Byron

In [10]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [11]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))