In [21]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
%matplotlib inline
# Import the API key.
from config import g_key

In [22]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Qaanaaq,GL,2021-01-30 21:06:55,77.4840,-69.3632,-4.49,73,100,1.50
1,1,Nouadhibou,MR,2021-01-30 21:06:56,20.9310,-17.0347,75.20,46,58,13.80
2,2,Portland,US,2021-01-30 21:06:15,45.5234,-122.6762,50.00,81,75,12.66
3,3,Viedma,AR,2021-01-30 21:06:56,-40.8135,-62.9967,72.00,40,57,16.33
4,4,Margate,GB,2021-01-30 21:06:56,51.3813,1.3862,39.99,80,99,8.01

In [23]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [24]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [25]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [26]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [27]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 50
What is the maximum temperature you would like for your trip? 95

In [31]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Nouadhibou,MR,2021-01-30 21:06:56,20.9310,-17.0347,75.20,46,58,13.80
2,2,Portland,US,2021-01-30 21:06:15,45.5234,-122.6762,50.00,81,75,12.66
3,3,Viedma,AR,2021-01-30 21:06:56,-40.8135,-62.9967,72.00,40,57,16.33
5,5,Santa Helena De Goias,BR,2021-01-30 21:06:56,-17.8136,-50.5969,84.74,63,21,3.04
6,6,Hobart,AU,2021-01-30 21:06:20,-42.8794,147.3294,60.01,67,20,11.50
7,7,Aguimes,ES,2021-01-30 21:05:02,27.9054,-15.4461,64.40,72,20,19.57
8,8,Avarua,CK,2021-01-30 21:06:54,-21.2078,-159.7750,82.40,74,100,4.61
10,10,New Norfolk,AU,2021-01-30 21:06:57,-42.7826,147.0587,60.01,72,10,1.01
12,12,Rikitea,PF,2021-01-30 21:06:58,-23.1203,-134.9692,78.78,76,2,13.06
13,13,Hilo,US,2021-01-30 21:05:15,19.7297,-155.0900,78.80,61,20,5.75

In [32]:
preferred_cities_df.count()

City_ID       337
City          337
Country       333
Date          337
Lat           337
Lng           337
Max Temp      337
Humidity      337
Cloudiness    337
Wind Speed    337
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                     City Country  Max Temp      Lat       Lng Hotel Name
1              Nouadhibou      MR     75.20  20.9310  -17.0347
2                Portland      US     50.00  45.5234 -122.6762
3                  Viedma      AR     72.00 -40.8135  -62.9967
5   Santa Helena De Goias      BR     84.74 -17.8136  -50.5969
6                  Hobart      AU     60.01 -42.8794  147.3294
7                 Aguimes      ES     64.40  27.9054  -15.4461
8                  Avarua      CK     82.40 -21.2078 -159.7750
10            New Norfolk      AU     60.01 -42.7826  147.0587
12                Rikitea      PF     78.78 -23.1203 -134.9692
13                   Hilo      US     78.80  19.7297 -155.0900

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [41]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Nouadhibou,MR,75.20,20.9310,-17.0347,El Medina
2,Portland,US,50.00,45.5234,-122.6762,Embassy Suites by Hilton Portland Downtown
3,Viedma,AR,72.00,-40.8135,-62.9967,Hotel Cristal
5,Santa Helena De Goias,BR,84.74,-17.8136,-50.5969,Hotel Pacheco
6,Hobart,AU,60.01,-42.8794,147.3294,Mantra on Collins Hobart
7,Aguimes,ES,64.40,27.9054,-15.4461,Hotel Villa de Aguimes
8,Avarua,CK,82.40,-21.2078,-159.7750,Paradise Inn
10,New Norfolk,AU,60.01,-42.7826,147.0587,The Shingles Riverside Cottages
12,Rikitea,PF,78.78,-23.1203,-134.9692,Pension Maro'i
13,Hilo,US,78.80,19.7297,-155.0900,Hilo Hawaiian Hotel

In [42]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [43]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [44]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""

In [45]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [46]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))